<h1>OOPS!!</h1>
<p>Something went wrong</p>
<div style='background-color: #ccc;border: 1px solid #ccc; padding: 20px;'>
    <h3>
        <% if(typeof msg !== "undefined") { %>
            <%= msg %>
        <% } %>
    </h3>
</div>